.map {
  @include flex-column-container;
  width: 100%;
  height: 100%;
  margin-bottom: 72px;
  @media (max-width: 767px) {
    margin-bottom: 0;
  }

  &__wrapper {
    padding: 0 calc((100vw - 1110px) / 2) 0;
    @media (min-width: 1440px) {
      padding: 0 165px 0;
    }
  }

  &__whith-buttons {
    position: relative;
  }

  &__filters {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 145px;
    position: absolute;
    left: 24px;
    bottom: 24px;
    z-index: 5;
    @media (max-width: 768px) {
      left: 39px;
      bottom: 48px;
    }
    @media (max-width: 767px) {
      left: 15px;
      bottom: 32px;
    }
  }

  &__buttons-zoom {
    @include flex-column-center;
    position: absolute;
    right: 24px;
    bottom: 24px;
    height: fit-content;
    width: fit-content;
    z-index: 5;
    padding: 8px 10px;
    border-radius: 8px;
    background: $white;
    gap: 24px;
    @media (max-width: 768px) {
      right: 39px;
      bottom: 48px;
    }
    @media (max-width: 767px) {
      right: 15px;
      bottom: 32px;
    }
    &-wrapper {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 36px;
        right: 0;
        height: 1px;
        width: 24px;
        background-color: $grey;
        &:last-child {
          display: none;
        }
      }
    }
  }

  &__container {
    height: 540px;
    @media (max-width: 768px) {
      height: 600px;
    }

    // background: grayscale(1);
    // filter: grayscale(100%);
    //  background: gray!important;
    // box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05)!important;
    // &::after {
    //   content: '';
    // background-color: rgba(255, 255, 255, 0.5);
    // }
  }
}

.map__container .ymaps-2-1-79-image {
  // filter: invert(1) hue-rotate(180deg)!important;
  // filter: none!important;
  // // background: white;
  // background-image: url('src/shared/Новая папка/Group 42.png')!important;
  // filter: invert(1)!important;
  // filter: invert(1) hue-rotate(180deg)!important;

  // mix-blend-mode: normal!important;
  // z-index: 555!important;
}

.ymaps-2-1-79-gototech,
.ymaps-2-1-79-gotoymaps__container,
.ymaps-2-1-79-copyright,
.ymaps-2-1-79-gototaxi__container,
.ymaps-2-1-79-gotoymaps__container {
  display: none !important;
}

.ymaps-2-1-79-inner-panes {
  border-radius: 8px;
  @media (max-width: 768px) {
    border-radius: none;
  }
}

.ymaps-2-1-79-map {
  filter: grayscale(100%);
}

// .ymaps-2-1-79-image  {
//   filter: none!important;
//   // background: white;
//   background-image: url('src/shared/Новая папка/Group 42.png')!important;
//   // filter: invert(1)!important;
//   // filter: invert(1) hue-rotate(180deg)!important;

//   mix-blend-mode: normal!important;
//   z-index: 555!important;

// }
