.button {
  @include flex-row-center;
  justify-content: center;
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
  color: $black;

  &__header {
    @include use-font(18px, 22.82px, 500);
    background: $button-color;
    @media (max-width: 767px) {
      display: none;
    }
  }

  &__button-container {
    @include flex-all-center;
    background: inherit;
    padding: 0;
    width: 24px;
    height: 24px;
    position: relative;
    &:disabled {
      cursor: not-allowed;
      opacity: .2;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -12px;
      width: 1px;
      height: 24px;
      background-color: $grey;
    }
  }

  // &__coral {
  //   @include use-font(18px, 24px, 400);
  //   padding: 10px 24px;
  //   background-color: $main-coral;
  //   color: $main-white;
  //   &_forms {
  //     margin: 24px 0;
  //   }
  //   &_categories {
  //     padding: 12px 16px;
  //     gap: 4px;
  //   }
  //   &_search {
  //     height: 44px;
  //     padding: 12px 16px;
  //     position: absolute;
  //     right: 0;
  //     top: -2px;
  //   }
  //   &_main {
  //     padding: 21px 24px;
  //   }
  //   &_slider {
  //     border-radius: 50%;
  //     background-repeat: no-repeat;
  //     background-position: center;
  //     padding: 15px 17px;
  //     // выравнено чтобы визуально по центру было
  //     margin: 0 5px 20px;
  //   }
  //   &_transparent {
  //     background-color: $main-white;
  //     border: 1px $main-coral solid;
  //     color: $gray-btn-text;
  //   }
  //   &:hover {
  //     color: $main-white;
  //     background-color: $main-coral;
  //   }
  //   &:disabled {
  //     pointer-events: none;
  //     background-color: $light-coral;
  //   }
  //   &:active {
  //     background-color: $active-coral;
  //   }
  // }

  // &__blue {
  //   width: 100%;
  //   @include use-font(16px, 20px, 400);
  //   padding: 10px 24px;
  //   background-color: $blue-btn;
  //   letter-spacing: 0.15px;
  // }

  // &__close {
  //   position: absolute;
  //   top: 0px;
  //   right: -36px;
  //   width: 24px;
  //   height: 24px;
  //   padding: 0;
  //   background: none;
  // }
}
