.input {
  @include use-font(18px, 22.82px);
  background: $grey;
  border-radius: 8px;
  border: none;
  &_date {
    width: 100%;
  }
  &:focus {
    border: none;
    outline: none;
  }

  &_error {
    color: $black;
    background: $redOpacity;
    outline: $red;
  }

  &__text {
    @include text-info;
    align-self: self-start;

    &_error {
      color: $red;
    }
  }

  &__form {
    padding: 12px 0 12px 16px;
    margin: 12px 0 2px 0;
  }

  &__label {
    @include use-font(14px, 17.75px);
    display: flex;
    align-items: center;
    &_container {
      display: flex;
      gap: 8px;
    }
  }

  &__container-svg {
    display: none;
    &_ok {
      display: block;
    }
  }

  // убирает дефолтный показ иконки пароля в Microsoft Edge
  &::-ms-reveal {
    display: none;
  }
}

input[type='date']::-webkit-calendar-picker-indicator {
  display: none; /* Для браузеров на основе WebKit (Chrome, Safari) */
}

input[type='date']::-moz-inner-spin-button {
  display: none; /* Для Firefox */
}

input[type='date']::-ms-clear {
  display: none; /* Для Internet Explorer */
}
