.radio {
  @include flex-column-container;
  width: 225px;
  gap: 21px;

  &__label_container {
    display: flex;
    gap: 8px;
  }

  &__label {
    @include use-font(14px, 17.75px);
    @include flex-row-center;
    min-height: 24px;
  }

  &__container-svg {
    display: none;
    &_ok {
      display: block;
    }
  }

  &__options {
    display: flex;
    gap: 32px;
  }

  &__option {
    @include use-font(14px, 17.75px);
    cursor: pointer;
    display: flex;
    text-align: center;
    gap: 12px;
  }

  &__input {
    display: none;
  }

  &__custom {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: $grey;
    position: relative;
    transition: background-color 0.3s;

    &:hover {
      background-color: $redOpacity;
    }

    &::after {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $black;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.3s;
    }
  }

  &__input:checked + .radio__custom::after {
    transform: translate(-50%, -50%) scale(1);
  }

  &__text {
    @include text-info;
    align-self: self-start;
    &_error {
      color: $red;
    }
  }
}
