// COLORS
$white: #FFFFFF;
$black: #000000;
$yellow: #FFDF31;
$grey: #F5F5F5;
$red: #FF6666;

$redOpacity: rgba(255, 102, 102, .3);
$blackOpacity: rgba(0, 0, 0, 0.4);

// FONTS
$font-family: 'Euclid Circular B', sans-serif;

// SIZES
$max-width: 1440px;
