.wait-you {
  @include main-container;
  padding: 72px calc((100vw - 1110px) / 2);
  flex: 1;
  @media (min-width: 1440px) {
    padding: 72px 165px;
  }
  @media (max-width: 1188px) {
    padding: 32px 39px;
  }
  @media (max-width: 767px) {
    transition: padding 0.5s ease;
    padding: 24px 32px 15px;
  }

  }
