.select {
  position: relative;
  width: 100%;
  &__error {
    @include text-info;
    color: $red;
  }

  &__label {
    @include use-font(14px, 17.75px);
    display: block;
    &_error {
      color: $red;
      @include text-info;
    }
  }

  &__dropdown {
    @include flex-row-center;
    background: $grey;
    padding: 12px 0 12px 16px;
    margin: 12px 0 2px 0;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    &:focus {
      border: none;
      outline: none;
    }
  }

  &__selected {
    @include flex-row-center;
    @include use-font(18px, 22.82px);
  }

  &__icon {
    width: 10px;
    height: 10px;
    background-color: transparent; /* Здесь можно добавить иконку или стрелку */
    &_open {
      transform: rotate(180deg); /* Поворот иконки при открытии */
    }
  }

  &__options {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    background-color: white;
    z-index: 10;
  }
  &__option {
    @include text-info;
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0; /* Подсветка при наведении */
    }
  }
}
