.select {
  position: relative;
  width: 100%;
  &__error {
    @include text-info;
    color: $red;
  }

  &__label {
    @include use-font(14px, 17.75px);
    display: flex;
    align-items: center;
    &_container {
      display: flex;
      gap: 8px;
    }
    &_error {
      color: $red;
      @include text-info;
    }
  }

  &__container-svg {
    display: none;
    &_ok {
      display: block;
    }
  }

  &__dropdown {
    @include flex-row-center;
    justify-content: space-between;
    background: $grey;
    padding: 12px 16px;
    margin: 12px 0 2px 0;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    &_open {
      border-radius: 8px 8px 0 0;
    }
    &:focus {
      border: none;
      outline: none;
    }
  }

  &__selected {
    @include flex-row-center;
    @include use-font(18px, 22.82px);
  }

  &__options {
    position: absolute;
    @include mp-null-list;
    top: 78px;
    left: 0;
    right: 0;
    border: none;
    background-color: $grey;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__option {
    @include use-font(18px, 22.82px);
    padding: 12px 0 12px 16px;
    cursor: pointer;

    &:hover {
      background-color: $yellow;
    }
  }

  &__icon {
    @include flex-row-center;
    &_open {
      transform: rotate(180deg);
    }
  }
}
