.svg {
  display: block;
  width: 24px;
  height: 24px;
  z-index: 8;

  &__logo {
    width: 21px;
    height: 30px;
    cursor: pointer;
  }

  &__arrow {
    width: 10.66px;
    height: 11.5px;

    &:hover {
      opacity: 0.2;
    }
  }

  &__phone {
    display: none;
    cursor: pointer;
    @media (max-width: 767px) {
      display: flex;
    }
  }

  &__plus {
    cursor: pointer;
  }

  &__minus {
    cursor: pointer;
  }
}
