.svg {
  width: 21px;
  height: 30px;

  &__arrow {
    width: 10.66px;
    height: 11.5px;

    &:hover {
      opacity: 0.2;
    }
  }

  &__phone {
    width: 24px;
    height: 24px;
    display: none;
    cursor: pointer;
    @media (max-width: 767px) {
      display: flex;
    }
  }
}
