.svg {
  width: 21px;
  height: 30px;
  z-index: 8;

  &__arrow {
    width: 10.66px;
    height: 11.5px;

    &:hover {
      opacity: 0.2;
    }
  }

  &__phone {
    width: 24px;
    height: 24px;
    display: none;
    cursor: pointer;
    @media (max-width: 767px) {
      display: flex;
    }
  }

  &__plus {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  &__minus {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  &__footer {
    width: 24px;
    height: 24px;
  }

  &__close {
    width: 24px;
    height: 24px;
  }

  &__select {
    width: 24px;
    height: 24px;
  }

  &__valid {
    width: 24px;
    height: 24px;
  }
}
