.header {
  padding: 32px calc((100vw - 1110px) / 2);
  @include main-container;
  display: flex;
  justify-content: space-between;

  @media (min-width: 1440px) {
    padding: 32px 165px;
  }
  @media (max-width: 1188px) {
    padding: 32px 39px;
  }
  @media (max-width: 767px) {
    transition: padding 0.5s ease;
    padding: 24px 32px 15px;
  }

  &__container-button {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__phone-logo {
    @include use-font(18px, 22.82px);
    @include mp-null;
    @media (max-width: 767px) {
      display: none;
    }
  }
}
