// COLORS
$main-white: #fbfbfb;
$form-white: #efefef;
$black: #000000;
$gray-high: #ebeae8;
$gray: #efefef;
$gray-btn-text: #8c8c8c;
$blue: #cfe8ef;
$blue-link: #00aaff;
$blue-btn: #0077ff;
$blue-light: #f3f7f9;
$main-coral: #e75c49;
$light-coral: #f1bbb3;
$active-coral: #c64534;
$alert-red: #f40b0b;
$background-popup: #000000ba;

// FONTS
$font-family: 'Euclid Circular B', sans-serif;

// SIZES
$max-width: 1440px;
