@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  @include mp-null;
  @include use-font(72px, 66px);
  animation: fadeIn 0.5s ease forwards;
  @media (max-width: 550px) {
    @include use-font(48px, 44px);
  }
  &__sticky {
    @include mp-null;
    @include use-font(24px, 30.43px);
  }
}
