.container {
  position: absolute;
  background: $white;
  border-radius: 30px;
  padding: 10px 16px;
}

.text {
  @include mp-null;
  @include use-font(24px, 30.43px);
}

.baner__caption-profession {
  top: 156px;
  right: 120px;
  transition: right 0.5s ease;
  @media (max-width: 920px) {
    right: 285px;
  }
  @media (max-width: 767px) {
    right: 96px;
    top: 83px;
  }
}

.baner__caption-professionUp {
  top: 404px;
  right: 78px;
  @media (max-width: 920px) {
    right: 285px;
  }
  @media (max-width: 767px) {
    right: 288px;
    top: 100px;
  }
}

.baner__caption-name {
  top: 406px;
  right: 348px;
  transition: right 0.5s ease;
  @media (max-width: 768px) {
    right: 388px;
  }
  @media (max-width: 767px) {
    right: 299px;
    top: 254px;
  }
}

.baner__caption-nameUp {
  top: 155px;
  right: 378px;
  @media (max-width: 920px) {
    right: 446px;
  }
  @media (max-width: 767px) {
    right: 112px;
    top: 257px;
  }
}

.vacancy__caption {
  top: 24px;
  left: 24px;
  @media (max-width: 1188px) {
    top: 20px;
  }
}
