.logo {
  @include flex-row-center;
  gap: 16px;
  @media (max-width: 767px) {
    gap: 12px;
  }

  &__text {
    @include use-font;
    @include mp-null;
    white-space: nowrap;
    @media (max-width: 767px) {
      @include use-font(24px, 30.43px);
    }
  }
}
