.vacancy {
  min-height: 553px;
  width: 100%;
  padding: 0 calc((100vw - 1110px) / 2) 0;
  overflow: hidden;

  @media (min-width: 1440px) {
    padding: 0 165px 0;
  }
  @media (max-width: 1188px) {
    padding: 0 39px 0;
  }
  @media (max-width: 490px) {
    padding: 0 15px 0;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 32px;
  }

  &__buttons {
    display: flex;
    padding: 10px 8px;
    border-radius: 8px;
    background: $white;
    width: fit-content;
    gap: 24px;
    @media (max-width: 767px) {
      display: none;
    }
  }

  &__slider {
    width: 1290px;
    overflow: hidden;
    @media (max-width: 1250px) {
      width: 1110px;
    }
    @media (max-width: 1150px) {
      width: 960px;
    }
    @media (max-width: 767px) {
      width: 816px;
    }
  }

  &__items {
    height: 100%;
    @include mp-null;
  }

  &__card {
    background: $grey;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    height: 480px;
    @media (max-width: 1150px) {
      height: 410px;
    }
    @media (max-width: 767px) {
      height: 344px;
    }
    &:hover .vacancy__overlay {
      opacity: 1;
    }
    &:hover .vacancy__text {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
  }

  &__photo {
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    @media (max-width: 767px) {
      width: 250px;
    }
  }

  &__text {
    @include mp-null;
    @include use-font(18px, 22.82px);
    position: absolute;
    bottom: 24px;
    left: 24px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $yellow;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
