@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.form {
  @include main-container;
  padding: 72px calc((100vw - 1110px) / 2);
  animation: fadeIn 0.5s ease forwards;
  flex: 1;
  @media (min-width: 1440px) {
    padding: 72px 165px;
  }
  @media (max-width: 1188px) {
    padding: 72px 39px;
  }
  @media (max-width: 550px) {
    padding: 48px 15px 48px 14px;
}

  &__wrapper {
    display: flex;
    gap: 125px;
    margin: 48px 0 0 0;
    @media (max-width: 1188px) {
      gap: 25px;
      justify-content: space-between;
      margin: 72px 0 0 0;
    }
    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 72px;
    }
    @media (max-width: 529px) {
      margin: 48px 0 0 0;
      gap: 48px;
    }
    &_input_item {
      width: 255px;
      @media (max-width: 1024px) {
        width: 330px;
      }
      @media (max-width: 767px) {
        width: 100%;
      }
      &_type_gap {
        @include flex-column-container;
        gap: 10px;
      }
      &-checkbox {
        display: flex;
        justify-content: space-between;
        position: relative;
        background: $grey;
        padding: 12px 16px;
        border-radius: 8px;
      }
    }
  }

  &__container {
    @include flex-column-container;
    gap: 27px;
    width: 540px;
    @media (max-width: 1024px) {
      margin: 0 auto;
      width: 690px;
    }
    @media (max-width: 767px) {
      min-width: 346px;
      width: 100%;
    }
    &_wrapper {
      @include flex-row-center;
      gap: 30px;
      @media (max-width: 767px) {
        flex-direction: column;
      }
    }
  }

  &__input-wrapper {
    @include flex-column-container;
    &-date {
      width: 255px;
    }
  }

  &__input_container_mini {
    width: 100%;
    display: flex;
    gap: 30px;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__info {
    @include flex-column-container;
    margin-top: 33px;
    width: 445px;
    gap: 24px;
    @media (max-width: 1024px) {
      margin: 0 auto;
      width: 690px;
    }
    @media (max-width: 767px) {
      width: inherit;
    }
    &_text {
      @include mp-null;
      @include use-font(18px, 22.82px);
      width: inherit;
    }
    &_span {
      display: block;
      margin: 23px 0;
    }
  }
  &__container_number {
    border-radius: 8px;
    background: $grey;
    text-align: center;
    padding: 22px 0;
  }
  &__number {
    @include mp-null;
    @include use-font(24px, 30.43px);
  }

  &__capcha {
    @include mp-null;
    @include text-info;
    margin-bottom: 12px
  }

  &__required {
    @include mp-null;
    @include text-info;
    color: $blackTextOpacity;
    text-align: start;
  }

  &__agry {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
