@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.baner {
  min-height: 400px;
  background: $grey;
  padding: 48px 0 0 calc((100vw - 1275px));
  position: relative;
  overflow: hidden;
  @media (min-width: 1440px) {
    padding: 48px 0 0 165px;
  }
  @media (max-width: 1314px) {
    padding: 48px 0 0 39px;
  }
  @media (max-width: 767px) {
    height: 591px;
  }
  @media (max-width: 550px) {
    padding: 48px 15px 0;
  }

  &__title {
    @include mp-null;
    @include use-font(72px, 66px);
    animation: fadeIn 0.5s ease forwards;
    width: 445px;
    @media (max-width: 767px) {
      @include use-font(48px, 44px);
      width: 346px;
      white-space: nowrap;
    }
    &-inline {
      display: inline;
      @media (max-width: 767px) {
        display: block;
      }
    }
    &-block {
      display: block;
      @media (max-width: 767px) {
        display: inline;
      }
    }
  }

  &__buttons {
    @include flex-row-center;
    padding: 10px 8px;
    margin-top: 62px;
    border-radius: 8px;
    background: $white;
    width: fit-content;
    gap: 24px;
    &-wrapper {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -12px;
        height: 24px;
        width: 1px;
        background-color: $grey;
        &:last-child {
          display: none;
        }
      }
    }
    @media (max-width: 767px) {
      display: none;
    }
  }

  &__circle {
    width: 612px;
    height: 612px;
    border-radius: 50%;
    position: absolute;
    top: -106px;
    left: calc((100vw - 777px));
    z-index: 5;
    overflow: hidden;
    @media (min-width: 1440px) {
      left: 663px;
    }
    @media (max-width: 1178px) {
      left: 401px;
    }
    @media (max-width: 767px) {
      width: 539px;
      height: 539px;
      top: 120px;
      left: 50%;
      transform: translate(-50%, 14%);
    }
  }

  &__img {
    width: 745px;
    height: 434px;
    object-fit: scale-down;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    transition: left 0.5s ease;
    @media (max-width: 920px) {
      left: 33%;
    }
    @media (max-width: 767px) {
      width: 730px;
      height: 426px;
      transform: translate(-36%, -67%);
    }
  }

  &__items {
    height: 100%;
    @include mp-null;
  }
}
