.checkbox-container {
  display: flex;
  align-items: center;
  height: 24px;

  .checkbox-input {
    display: none;
  }

  .checkbox-input + .checkbox-label {
    position: relative;
    padding: 2px 30px;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
      border: none;
      border-radius: 8px;
      background-color: $white;
    }
  }

  .checkbox-input:checked + .checkbox-label::before {
    background: url('src/shared/assets/checked.svg') $grey no-repeat center;
  }

  .checkbox-label {
    @include use-font(14px, 16px, 400);
  }
}